@model ATMS_TestingSubject.Models.UserInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbsenceHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbsenceHours)
        </dd>
       
    </dl>
</div>
<p>
    @Html.ActionLink("barCode", "GetTicket","Tickets", new { Id = Model.Id }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Sign Attend","Create","Attendances",new { Id = Model.Id }, new { @class = "btn btn-default" } ) 


    @Html.ActionLink("LogOut", "Login")
</p>
