@model ATMS_TestingSubject.Models.Department

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="container">
    <h2>Edit</h2>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model=>model.DepId)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="row">
                @Html.EditorFor(model => model.DepName, new { htmlAttributes = new { @class = "form-control", placeholder = "Department Name", autocomplete = "off" } })
            </div>
            <div class="row">
                @Html.ValidationMessageFor(model => model.DepName, "", new { @class = "text-danger" })
            </div>
        </div>
        if (ViewBag.msg != null)
        {
            <div class="alert alert-danger">
                @ViewBag.msg
            </div>
        }
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary shadow-2 btn-block">Create</button>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Departments", "ADmin")
    </div>
</div>


