
@{ ViewBag.Title = "Dashboard";
                Layout = "~/Views/Shared/_Admin.cshtml"; }




<div class="container my-3">
    <div class="row">
        <section class="col-md-12">
            <div class="card border-dark">
                <div class="card-header text-center bg-dark">Admin Info</div>
                <div class="card-body">
                    <h5 class="card-title">Welcome Back, @Session["AdminName"]!</h5>
                    <p class="card-text" style="color: black">
                        @Html.ActionLink("To Edit Yor  Account Click Here", "EditMe", "Admin") <br />
                        @Html.ActionLink("To see Your Details Click Here", "DetailsMe", "Admin")
                        <br />
                        @Html.ActionLink("To Change Your Password Click Here", "ChangePassword", "Admin")<br />
                        <a href="@Url.Action("OnlineUsers","Admin")" class="btn btn-outline-danger">
                            Online Users
                        </a>
                    </p>
                </div>
        </section>
    </div>
</div>
<div class="container">
    <a class="btn btn-dark" href="@Url.Action("Logout", "Home") ">Logout</a>

</div>



